<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>My App</title>
</head>
<body>
    <h2>Home Page</h2>
    <div>this is my product page...</div>
    <br/>
    <a href="http://localhost:6800/product/cart">go to cart</a>
    <br/><br/>
    <button onclick="getProfile()">profile</button>
    <button onclick="login()">Login</button>
    <script src="/home.js"></script>
    
</body>
</html>